{% if content %}
    <div {{ attributes.addClass('grandrestaurant-grid-gallery') }}>
        {% if content.gallery_item %}
            {% for item in content.gallery_item|array_elements(region_attributes.gallery_item.addClass('grid-item')) %}
                {{ item }}
            {% endfor %}
        {% endif %}
    </div>
{% endif %}